.container {
  padding: 20px 10px;
}

.btnWrapper {
  display: flex;
  gap: 20px;
}

.formWrapper {
  display: flex;
  align-items: flex-end;
  text-align: left;
  gap: 20px;
}

.inputNumber {
  width: 100%;
}