.container {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  padding: 15px;
  width: 900px;
}

.weatherWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
